*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin-top: 5rem;
}
.box{
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 15px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
input[type="number"]{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    width: 80%;
}
input[type="submit"]{
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #007BFF;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #063a5d;
}

#reset {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    background: #e74c3c;
}

#reset:hover {
    background: #c0392b;
}


#out-put p {
    font-weight: bold;
    padding: 8px 12px;
    margin: 6px 0;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 18px;
  }

  .excellent {
    background-color: #d4edda;
    color: #155724;
  }

  .vgood {
    background-color: #d1ecf1;
    color: #0c5460;
  }

  .good {
    background-color: #fff3cd;
    color: #856404;
  }

  .pass {
    background-color: #f8d7da;
    color: #721c24;
  }

  .fail {
    background-color: #f5c6cb;
    color: #721c24;
  }